body{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.card{
  box-shadow: 0 4px 8px 0 rgba(235, 181, 181, 0.2);
  transition: 0.3s;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  border: 1.5px black;
}
.home {
text-align: center;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(235, 181, 181, 0.2);
}
.container{
  padding: 2px 14px;
}
footer{
  background-color: rgb(37, 37, 37);
}
